doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // testStyle.lessから動的コンパイルされるよう、testStyle.cssファイルをリクエスト
    link(rel='stylesheet', href='/stylesheets/testStyle.css')
    script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css")
    script(src="javascripts/main.js")
  body
    block content