doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // testStyle.lessから動的コンパイルされるよう、testStyle.cssファイルをリクエスト
    link(rel='stylesheet', href='/stylesheets/testStyle.css')
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="javascripts/main.js")
  body
    block content